{% extends 'bases/base.html' %}
{% load i18n %}
{% load account socialaccount %}
{% block content %}
 <!-- Hero Section-->
    <section class="hero">
      <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Customer zone        </li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
          <h1 class="hero-heading mb-0">Customer zone</h1>
        </div>
      </div>
    </section>
    <!-- customer new account-->
    <section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="block">
              <div class="block-header">
                <h6 class="text-uppercase mb-0">{% trans "Sign Out" %}</h6>
              </div>
              <div class="block-body"> 
                <p class="lead">Happy shopping !!</p>
                <p class="text-muted">With registration with us new world of fashion, fantastic discounts and much more opens to you! The whole process will not take you more than a minute!</p>
                <p class="text-muted">If you have any questions, please feel free to <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>
                <form method="post" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                  {% endif %}
                  <button type="submit" class="btn btn-outline-dark"><i class="fa fa-sign-out-alt mr-2"></i>>{% trans 'Sign Out' %}</button>
                </form>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
{% endblock content %}
   