{% load static %}
<!-- Hero Section-->
    <section class="home-full-slider-wrapper mb-10px">
      <!-- Hero Slider-->
      <div class="owl-carousel owl-theme owl-dots-modern home-full-slider">
        {% if sliders %}
          {% for slider in sliders %}
            <div style="background: #f8d5cf;" class="item home-full-item bg-dark dark-overlay">
            {% if slider.image.url %}
              <img src="{{ slider.image.url }}" alt="" class="bg-image">
            {% endif %}
              <div class="container-fluid h-100 py-5">
                <div class="row align-items-center h-100">
                  <div class="col-lg-8 col-xl-6 mx-auto text-white text-center overlay-content">
                    <h5 class="text-uppercase text-white font-weight-light mb-4 letter-spacing-5"> Just arrived</h5>
                    <h1 class="mb-5 display-2 font-weight-bold text-serif">Denim Jackets</h1>
                    <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p> <a href="category.html" class="btn btn-light">place an order</a></p>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}

{% comment %} 
        <div class="item home-full-item bg-dark dark-overlay"><img src="{% static 'img/photo/ian-dooley-347942-unsplash.27d1967c.jpg' %}" alt="" class="bg-image">
          <div class="container-fluid h-100">
            <div class="row align-items-center h-100">
              <div class="col-lg-8 col-xl-6 mx-auto text-white text-center overlay-content">
                <h1 class="mb-4 display-2 text-uppercase font-weight-bold">Skeleton Tees</h1>
                <p class="lead mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p> <a href="category.html" class="btn btn-light">Start shopping</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="item home-full-item"><img src="{% static 'img/photo/haley-phelps-62815-unsplash.6aa3da96.jpg' %}" alt="" class="bg-image">
          <div class="container-fluid h-100">
            <div class="row align-items-center h-100">
              <div class="col-lg-8 col-xl-6 mx-auto text-white text-center">
                <h5 class="text-uppercase font-weight-light mb-4 letter-spacing-5"> Our bestseller</h5>
                <h1 class="mb-5 display-1 font-weight-bold text-serif">Skinny Jeans</h1>
                <p> <a href="category.html" class="btn btn-light">View collection</a></p>
              </div>
            </div>
          </div>
        </div> {% endcomment %}

      </div>
    </section>