{% extends 'bases/base.html' %}
{% load static %}
{% block content %}
    <!-- Hero Section-->
    <section class="hero">
      <div class="container pb-5">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active">All products</li>
        </ol>
        
      </div>
    </section>
    <div class="container">
      <div class="row">
        <!-- Grid -->
        <div class="products-grid col-xl-9 col-lg-8 order-lg-2">
          <header class="product-grid-header">

            {% comment %} <div class="mr-3 mb-3">
              Showing <strong>1-12 </strong>of <strong>158 </strong>products
            </div>
            <div class="mr-3 mb-3"><span class="mr-2">Show</span><a href="#" class="product-grid-header-show active">12    </a><a href="#" class="product-grid-header-show ">24    </a><a href="#" class="product-grid-header-show ">All    </a>
            </div> {% endcomment %}
            
            <div class="mb-3 d-flex align-items-center"><span class="d-inline-block mr-1">Sort by</span>
              <select class="custom-select w-auto border-0">
                <option value="orderby_0">Default</option>
                <option value="orderby_1">Popularity</option>
                <option value="orderby_2">Rating</option>
                <option value="orderby_3">Newest first</option>
              </select>
            </div>
          </header>
          <div class="row">

            {% for product in products %}
            <!-- product-->
            <div class="col-xl-4 col-sm-6">
              <div class="product">
                <div class="product-image">
                  <div class="ribbon ribbon-info">Fresh</div>
                  {% for item in product.productimage_set.all %}
                  <img src="{{ item.image.url }}" alt="product" class="img-fluid"/>
                  {% endfor %}
                  <div class="product-hover-overlay"><a href="{{ product.get_absolute_url }}" class="product-hover-overlay-link"></a>
                    <div class="product-hover-overlay-buttons">
                      <a href="{% url 'add_to_cart' product.slug %}" class="btn btn-outline-dark btn-product-left"><i class="material-icons pt-2">add_shopping_cart</i></a>
                      <a href="{{ product.get_absolute_url }}" class="btn btn-dark btn-buy"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">View</span></a>
                      <a href="{{ product.get_absolute_url }}" class="btn btn-outline-dark btn-product-right"><i class="material-icons pt-2">fullscreen</i></a>
                    </div>
                  </div>
                </div>
                <div class="py-2">
                  <p class="text-muted text-sm mb-1">Jackets</p>
                  <h3 class="h6 text-uppercase mb-1"><a href="{{ product.get_absolute_url }}" class="text-dark">{{ product.title }}</a></h3><span class="text-muted">${{ product.price }}</span>
                </div>
              </div>
            </div>
            <!-- /product-->
            {% endfor %}

            
          </div>
          <nav aria-label="page navigation" class="d-flex justify-content-center mb-5 mt-3">
            <ul class="pagination">
              <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span aria-hidden="true">Prev</span><span class="sr-only">Previous</span></a></li>
              <li class="page-item active"><a href="#" class="page-link">1       </a></li>
              <li class="page-item"><a href="#" class="page-link">2       </a></li>
              <li class="page-item"><a href="#" class="page-link">3       </a></li>
              <li class="page-item"><a href="#" class="page-link">4       </a></li>
              <li class="page-item"><a href="#" class="page-link">5 </a></li>
              <li class="page-item"><a href="#" aria-label="Next" class="page-link"><span aria-hidden="true">Next</span><span class="sr-only">Next     </span></a></li>
            </ul>
          </nav>
        </div>
        <!-- / Grid End-->

      </div>
    </div>
  
  
    {% endblock content %}
      
    {% block jquery %}
  
    {% endblock jquery %}
    