<!-- Invoice Address-->
        <span class="" id="address-section">
            <div class="block bg-light bg-white mb-3 shadow">
                <div class="block-header">
                    <h6 class="text-uppercase">
                      <span>
                        <svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg" data-was-visible="true"><path d="M12 2c-3.87 0-7 3.13-7 7 0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" data-was-visible="true"></path></svg>
                      </span>
                      Name and delivery address
                    </h6>
                </div>
                <div class="block-body">
                  <div class="row">
                    <div class="form-group col-12">
                      <label for="{{ form.name.id_for_label }}" class="form-label">Name</label>
                      {{ form.name.errors }}
                      {{ form.name }}
                      {% comment %} <input type="text" name="fullname_invoice" placeholder="Joe Black" id="fullname_invoice" class="form-control"> {% endcomment %}
                    </div>

                    <div class="form-group col-12">
                      <label for="{{ form.phone.id_for_label }}" class="form-label">Phone Number</label>
                      {% comment %} <input type="text" name="phonenumber_invoice" placeholder="Phone Number" id="phonenumber_invoice" class="form-control"> {% endcomment %}
                      {{ form.phone.errors }}
                      {{ form.phone }}
                    </div>
                    <div class="form-group col-12">
                      <label for="{{ form.address.id_for_label }}" class="form-label">Courier address</label>
                      {{ form.address.errors }}
                      {{ form.address }}
                    </div>

                    <div class="form-group col-12">
                      <label for="{{ form.comment.id_for_label }}" class="form-label">Your comments</label>
                      {{ form.comment.errors }}
                      {{ form.comment }}
                    </div>

                    <div class="form-group col-12">
                      <label for="{{ form.email.id_for_label }}" class="form-label">Email Address</label>
                      {% comment %} <input type="text" name="emailaddress_invoice" placeholder="joe.black@gmail.com" id="emailaddress_invoice" class="form-control"> {% endcomment %}
                      {{ form.email.errors }}
                      {{ form.email }}
                    </div>

                    

                    {% comment %} <div class="form-group col-md-6">
                      <label for="street_invoice" class="form-label">Street</label>
                      <input type="text" name="street_invoice" placeholder="123 Main St." id="street_invoice" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="city_invoice" class="form-label">City</label>
                      <input type="text" name="city_invoice" placeholder="City" id="city_invoice" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="zip_invoice" class="form-label">ZIP</label>
                      <input type="text" name="zip_invoice" placeholder="Postal code" id="zip_invoice" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="state_invoice" class="form-label">State</label>
                      <input type="text" name="state_invoice" placeholder="State" id="state_invoice" class="form-control">
                    </div> {% endcomment %}

                
                    {% comment %} <div class="form-group col-12 mt-3">
                      <div class="custom-control custom-checkbox">
                        <input id="show-shipping-address" type="checkbox" name="clothes-brand" class="custom-control-input">
                        <label for="show-shipping-address" data-toggle="collapse" data-target="#shippingAddress" aria-expanded="false" aria-controls="shippingAddress" class="custom-control-label align-middle">Use a different shipping address</label>
                      </div>
                    </div>
                     {% endcomment %}
                  </div>
                  <!-- /Invoice Address-->
                </div>
                <!-- Shippping Address-->
                {% comment %} <div id="shippingAddress" aria-expanded="false" class="collapse">
                  <div class="block">
                    <div class="block-header">
                      <h6 class="text-uppercase mb-0">Shipping address </h6>
                    </div>
                    <div class="block-body">
                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="street_shipping" class="form-label">Street</label>
                          <input type="text" name="street_shipping" placeholder="123 Main St." id="street_shipping" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="city_shipping" class="form-label">City</label>
                          <input type="text" name="city_shipping" placeholder="City" id="city_shipping" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="zip_shipping" class="form-label">ZIP</label>
                          <input type="text" name="zip_shipping" placeholder="Postal code" id="zip_shipping" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="state_shipping" class="form-label">State</label>
                          <input type="text" name="state_shipping" placeholder="State" id="state_shipping" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="phonenumber_shipping" class="form-label">Phone Number</label>
                          <input type="text" name="phonenumber_shipping" placeholder="Phone Number" id="phonenumber_shipping" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /Shipping Address-->
                </div> {% endcomment %}
                <div class="mb-5 d-flex justify-content-between flex-column flex-lg-row"><a href="cart.html" class="btn btn-link text-muted"></a><a href="#delivery-method" class="btn btn-dark" id="review-your-order">Review your order<i class="fa fa-angle-down ml-2"></i></a></div>
            </div>
        </span>