<!-- Invoice Address-->
        <span class="" id="address-section">
            <div class="block bg-light bg-white mb-3 shadow">
                <div class="block-header">
                    <h6 class="text-uppercase">
                      <span>
                        <svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg" data-was-visible="true"><path d="M12 2c-3.87 0-7 3.13-7 7 0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" data-was-visible="true"></path></svg>
                      </span>
                      Name and delivery address
                    </h6>
                </div>
                <div class="block-body">
                  <div class="row"> 
                  
                    <div class="form-group col-12">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <input class="mdl-textfield__input" type="text" id="user" name="name" value="">
                          <label class="mdl-textfield__label form-label" for="addr1">name</label>
                      </div>
                    </div>
                    <div class="form-group col-12">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
                        <label class="mdl-textfield__label" for="sample4">You phone number</label>
                        <span class="mdl-textfield__error">Input is not a number!</span>
                      </div>
                    </div>

                    <div class="form-group col-12">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <textarea class="mdl-textfield__input" type="text" rows= "1" id="courier-address"></textarea>
                        <label class="mdl-textfield__label" for="courier-address">Courier Address</label>
                       </div>
                    </div>
                    <div class="form-group col-12">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <textarea class="mdl-textfield__input" type="text" rows= "1" id="comments"></textarea>
                        <label class="mdl-textfield__label" for="comments">What's on your mind?</label>
                      </div>
                    </div>

                    <div class="form-group col-12">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <input class="mdl-textfield__input" type="email" id="email" name="email" value="">
                          <label class="mdl-textfield__label form-label" for="email">Your mail to contact with</label>
                      </div>
                    </div>
                  </div>
                  <!-- /Invoice Address-->
                </div>
                <div class="mb-5 d-flex justify-content-between flex-column flex-lg-row"><a href="cart.html" class="btn btn-link text-muted"></a><a href="#delivery-method" class="btn btn-dark" id="review-your-order">Review your order<i class="fa fa-angle-down ml-2"></i></a></div>
            </div>
        </span>