        <span class="" id="delivery-method">
        <div class="block bg-light my-5">
            <div class="block-header">
              <h6 class="text-uppercase mb-0">Delivery method</h6>
            </div>
            <div class="block-body">
                <div class="row">
                  
                  <h4>You will get the product at your address.</h4>
                  {% comment %} <div class="form-group col-md-6 d-flex align-items-center">
                    <input type="radio" name="shippping" id="option0">
                    <label for="option0" class="ml-3"><strong class="d-block text-uppercase mb-2">Usps next day</strong><span class="text-muted text-sm">Get it right on next day - fastest option possible.</span></label>
                  </div>
                  <div class="form-group col-md-6 d-flex align-items-center">
                    <input type="radio" name="shippping" id="option1">
                    <label for="option1" class="ml-3"><strong class="d-block text-uppercase mb-2">Usps next day</strong><span class="text-muted text-sm">Get it right on next day - fastest option possible.</span></label>
                  </div>
                  <div class="form-group col-md-6 d-flex align-items-center">
                    <input type="radio" name="shippping" id="option2">
                    <label for="option2" class="ml-3"><strong class="d-block text-uppercase mb-2">Usps next day</strong><span class="text-muted text-sm">Get it right on next day - fastest option possible.</span></label>
                  </div>
                  <div class="form-group col-md-6 d-flex align-items-center">
                    <input type="radio" name="shippping" id="option3">
                    <label for="option3" class="ml-3"><strong class="d-block text-uppercase mb-2">Usps next day</strong><span class="text-muted text-sm">Get it right on next day - fastest option possible.</span></label>
                  </div> {% endcomment %}
                </div>
            </div>
            <div class="mb-5 d-flex justify-content-between flex-column flex-lg-row"><a href="cart.html" class="btn btn-link text-muted"></a><a href="#order-review-section" class="btn btn-dark" id="review-the-order" >review the order<i class="fa fa-angle-right ml-2"></i></a></div>
        </div>
        </span>