            <span class="" id="order-review-section">
            <div class="bg-light mb-3 bg-white mdl-shadow--2dp">
              <div class="cart">
                <div class="cart-wrapper">
                  <div class="cart-body">

                    <!-- Product-->
                    {% for item in product_items %}
                    <div class="cart-item">
                      <div class="row d-flex align-items-center text-center">
                        <div class="col-9">
                          {% if item.product.get_image_url %}
                            <div class="d-flex align-items-center"><a href="detail.html"><img src="{{ item.product.get_image_url }}" alt="..." class="cart-item-img"></a>
                          {% endif %}
                            <div class="cart-title text-left"><a href="detail.html" class="text-uppercase text-dark"><strong>{{ item.product.title }}</strong></a><br>
                              {% if item.size %}
                                <span class="text-muted text-sm">Size: {{ item.size }}</span><br>
                              {% endif %}
                              {% if item.color %}
                                <span class="text-muted text-sm">Colour: {{ item.color }}</span><br>
                              {% endif %}
                              <span class="text-muted text-sm">Quantity: {{ item.quantity }}</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-3 text-center">${{ item.line_total }}</div>
                      </div>
                    </div>
                  {% endfor %}

                  </div>
                </div>
                
              </div>
              {% comment %} <div class="mb-5 d-flex justify-content-between flex-column flex-lg-row"><a href="checkout3.html" class="btn btn-link text-muted"></a><a href="#payment-method" class="btn btn-dark" id="choose-payment-options">choose payment options<i class="fa fa-angle-down ml-2"></i></a></div> {% endcomment %}
            </div>
          </span>
            