            <span class="" id="payment-method">
            <div class="mdl-shadow--2dp bg-white">

              <div id="accordion" role="tablist">

                <div class="block mb-3">
                  <div id="headingThree" role="tab" class="block-header"><strong><a data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="accordion-link collapsed">Pay on delivery</a></strong></div>
                  <div id="collapseThree" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion" class="collapse show">
                    <div class="block-body py-5 d-flex align-items-center">
                      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                        <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1">
                        <span class="mdl-radio__label">Pay on delivery</span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="block mb-3">
                  <div id="headingOne" role="tab" class="block-header"><strong><a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="accordion-link">Credit Card</a></strong></div>
                  <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" class="collapse">
                    <div class="block-body">
                      <form action="#">
                        <div class="row">
                          <div class="form-group col-md-6">
                            <label for="card-name" class="form-label">Name on Card</label>
                            <input type="text" name="card-name" placeholder="Name on card" id="card-name" class="form-control">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="card-number" class="form-label">Card Number</label>
                            <input type="text" name="card-number" placeholder="Card number" id="card-number" class="form-control">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="expiry-date" class="form-label">Expiry Date</label>
                            <input type="text" name="expiry-date" placeholder="MM/YY" id="expiry-date" class="form-control">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="cvv" class="form-label">CVC/CVV</label>
                            <input type="text" name="cvv" placeholder="123" id="cvv" class="form-control">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="zip" class="form-label">ZIP</label>
                            <input type="text" name="zip" placeholder="123" id="zip" class="form-control">
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

                <div class="block mb-3">
                  <div id="headingTwo" role="tab" class="block-header"><strong><a data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="accordion-link collapsed">Paypal</a></strong></div>
                  <div id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" class="collapse">
                    <div class="block-body py-5 d-flex align-items-center">
                      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="paypal">
                        <input type="radio" id="paypal" class="mdl-radio__button" name="options" value="1">
                        <span class="mdl-radio__label">Pay with paypal</span>
                      </label>
                    </div>
                  </div>
                </div>
                <hr>

                <div class="row">
                  <div class="col float-right mx-3">
                    <table class="float-right text-right">
                      <tbody>

                        <tr>
                          <td>Subtotal</td>
                          <td class="pl-3">$233</td>
                        </tr>

                        <tr>
                          <td>tax</td>
                          <td>$0</td>
                        </tr>

                        <tr>
                          <td>Total</td>
                          <td>$233</td>
                        </tr>

                      </tbody>
                    </table>
                  
                  </div>
                </div>

                <div class="row">
                  <div class="col mx-3 mt-3">
                    <p class="card-text text-sm" >By clicking "CONFIRM ORDER", you agree to the why Store Sales Terms.</p>
                    <p class="card-text" >
                      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                        <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
                        <span class="mdl-checkbox__label">Please send me why Store special offers and newsworthy updates.</span>
                      </label>
                    </p>
                    <p class="text-sm" >By continuing, you create a Google payments account and agree to Privacy Notice and Google Payments Terms of Service.</p>

                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary float-right mr-3 mb-3"> Confirm order</button>
                  </div>
                </div>

              </div>
            </div>
          </span>