/* your styles go here */

/* svg icon google .. google sign button*/
.iconGoogle{
    stroke: none !important;
}
.btn-signin-google{
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #d6d9dc !important;
    background-color: #FFF;
    color: #535A60;
}
.btn-signin-google:hover{
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #d6d9dc !important;
    background-color: #f7f7f7;
    color: #474d52;
}

.btn-facebook{
    border-color: transparent;
    background-color: #385499;
    color: #FFF;
}
.btn-facebook:hover{
    background-color: #314a86;
    color: rgba(255,255,255,0.95);
}
.iconFacebook{
    stroke: none !important;
}


/* meterial design lite custom */
.mdl-textfield__label{  
    margin-bottom:0px;
    color: #212529 !important;
}
.mdl-textfield{
    width: auto !important;
    width: 100% !important;
}

p{
line-height: 1.5 !important;
}

/* material delivery card */
.demo-card-square.mdl-card {
    width: 312px;
    height: 465px;
  }
.demo-card-square > .mdl-card__title {
    color: #fff;
  }

.card-rail-header {
    color: #444;
    /* font-family: Roboto,Arial,sans-serif; */
    font-family: "HK Grotesk",sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    text-align: center;
}
.card-rail-normal {
    color: #777;
    /* font-family: Roboto,Arial,sans-serif; */
    font-family: "HK Grotesk",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}
.card-rail-sep {
    border-top: 1px solid #ddd;
    margin-left: 20%;
    width: 60%;
}
/* material design navbar */
.mdl-layout__header{
    background-color: #fff !important;
    color: #3c4043 !important;
}
.mdl-navigation__link{
    color: #3c4043 !important;
}

.mdl-layout__drawer-button{
    color: #3c4043 !important;
}
