{% extends 'bases/base.html' %}
{% block title %} Post Detail {% endblock title %}
{% block content %}
    <!-- Hero Section-->
    <section class="hero">
      <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item"><a href="blog.html">Blog</a></li>
          <li class="breadcrumb-item active">Fashion, purpose &amp; freedom        </li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
          <h1 class="mb-5">Fashion, purpose &amp; freedom</h1>
          <div class="row">   
            <div class="col-xl-8 offset-xl-2"><p class="text-muted mb-0"><a href="#"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-3/img/person-3.jpg" alt="" class="w-2rem rounded-circle mr-2"></a> By <a href="#" class="text-muted font-weight-bold">John Slim</a> <span class="mx-1">|</span> January 16, 2016 in <a href="blog.html" class="font-weight-bold">Fashion</a> <span class="mx-1">|</span> <a href="#" class="text-muted">2 comments</a></p></div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-xl-10 mx-auto"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-3/img/photo/kyle-loftus-589740-unsplash.jpg" alt="" class="img-fluid mb-5"></div>
        </div>
        <div class="row">
          <div class="col-xl-8 col-lg-10 mx-auto">           
            <p class="lead mb-5">
              As am hastily invited settled at limited civilly fortune me. Really spring in extent an by. Judge but built party world. Of so am
              he remember although required. Bachelor unpacked be advanced at. Confined in declared marianne is vicinity.    
            </p>
            <div class="text-content text-lg">
              <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
              <p class="text-center text-muted text-sm"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-3/img/photo/christopher-campbell-28571-unsplash.jpg" alt="Example blog post alt" class="img-fluid mb-2"><br>Photo by Jack Tran, New York</p>
              <h2>Header Level 2</h2>
              <ol>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li>Aliquam tincidunt mauris eu risus.</li>
              </ol>
              <blockquote class="blockquote blockquote-primary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</blockquote>
              <h3>Header Level 3</h3>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li>Aliquam tincidunt mauris eu risus.</li>
              </ul>
              <p><img src="https://d19m59y37dris4.cloudfront.net/sell/1-3/img/photo/christopher-campbell-28571-unsplash.jpg" alt="Example blog post alt" class="img-fluid"></p>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus                   </p>
            </div>
            <!-- comments-->
            <div class="comments mt-5">
              <h6 class="comments-heading text-uppercase text-muted mb-4">2 comments</h6>
              <!-- comment-->
              <div class="row mb-4">
                <div class="col-3 col-md-2 text-center-xs">
                  <p><img src="https://d19m59y37dris4.cloudfront.net/sell/1-3/img/photo/blog-avatar2.jpg" alt="" class="img-fluid rounded-circle"></p>
                </div>
                <div class="col-9 col-md-10">
                  <h5>Julie Alma</h5>
                  <p class="text-uppercase text-sm text-muted"><i class="far fa-clock"></i> September 23, 2017 at 12:00 am</p>
                  <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                  <p><a href="#" class="btn btn-link text-primary"><i class="fa fa-reply"></i> Reply</a></p>
                </div>
              </div>
              <!-- /comment-->
              <!-- comment-->
              <div class="row mb-4">
                <div class="col-3 col-md-2 text-center-xs">
                  <p><img src="https://d19m59y37dris4.cloudfront.net/sell/1-3/img/photo/blog-avatar2.jpg" alt="" class="img-fluid rounded-circle"></p>
                </div>
                <div class="col-9 col-md-10">
                  <h5>Louise Armero</h5>
                  <p class="text-uppercase text-sm text-muted"><i class="far fa-clock"></i> June 23, 2017 at 12:35 pm</p>
                  <p class="text-muted">Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
                  <p><a href="#" class="btn btn-link text-primary"><i class="fa fa-reply"></i> Reply</a></p>
                </div>
              </div>
              <!-- /comment-->
            </div>
            <!-- /comments-->
            
            <!-- comment form-->
            <div class="comment-form my-5">
              <h6 class="text-uppercase mb-5">Leave a comment</h6>
              <form id="comment-form" method="post" action="#" class="form">
                <div class="row">
                  <div class="col-md-6">                           
                    <div class="form-group">
                      <label for="name" class="form-label">Name <span class="required">*</span></label>
                      <input id="name" type="text" class="form-control form-control-underlined">
                    </div>
                  </div>
                  <div class="col-md-6">                                              
                    <div class="form-group">
                      <label for="email" class="form-label">Email <span class="required">*</span></label>
                      <input id="email" type="text" class="form-control form-control-underlined">
                    </div>
                  </div>
                </div>
                <div class="form-group mb-4">
                  <label for="comment" class="form-label">Comment <span class="required">*</span></label>
                  <textarea id="comment" rows="4" class="form-control form-control-underlined"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-dark"><i class="far fa-comment"></i> Comment                                   </button>
              </form>
            </div>
            <!-- /comment form-->
          </div>
        </div>
      </div>
    </section>
   
    <div id="scrollTop"><i class="fa fa-long-arrow-alt-up"></i></div>

{% endblock content %}