{% extends 'bases/base.html' %}
{% block title %}All Posts{% endblock title %}
{% block content %}
    <section class="position-relative py-6 mb-30px"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-3/img/photo/matese-fields-233175-unsplash.jpg" alt="" class="bg-image">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="bg-white p-5"><strong class="text-uppercase text-muted d-inline-block mb-2 text-sm">Featured</strong>
              <h2 class="mb-3">Fashion, purpose & freedom</h2>
              <p class="text-muted">As am hastily invited settled at limited civilly fortune me. Really spring in extent an by. Judge but built party world. Of so am he remember although required. Bachelor unpacked be advanced at. Confined in declared marianne is vicinity</p>
              <a href="{% url 'post_detail' %}" class="btn btn-link text-dark p-0">Continue reading <i class="fa fa-long-arrow-alt-right"></i></a> 
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <!-- post-->
          <div class="col-lg-4 col-6">
            <div class="mb-30px"><a href="{% url "post_detail" %}"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-3/img/photo/marion-michele-330691-unsplash.jpg" alt="..." class="img-fluid"></a>
              <div class="mt-3"><small class="text-uppercase text-muted">Fashion and style </small>
                <h5 class="my-2"><a href="{% url "post_detail" %}" class="text-dark">Pellentesque habitant morbi          </a></h5>
                <p class="text-gray-500 text-sm my-3"><i class="far fa-clock mr-2"></i>January 16, 2016</p>
                <p class="my-2 text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Aenean ultricies mi vitae est. </p><a href="{% url "post_detail" %}" class="btn btn-link text-gray-700 pl-0">Read more<i class="fa fa-long-arrow-alt-right ml-2"></i></a>
              </div>
            </div>
          </div>
          <!-- /post end-->
          
          
          <!-- post-->
          <div class="col-lg-4 col-6">
            <div class="mb-30px"><a href="{% url "post_detail" %}"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-3/img/photo/marion-michele-330691-unsplash.jpg" alt="..." class="img-fluid"></a>
              <div class="mt-3"><small class="text-uppercase text-muted">Fashion and style </small>
                <h5 class="my-2"><a href="{% url "post_detail" %}" class="text-dark">Best books about Fashion          </a></h5>
                <p class="text-gray-500 text-sm my-3"><i class="far fa-clock mr-2"></i>January 16, 2016</p>
                <p class="my-2 text-muted">Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.  Mauris placerat eleifend leo.</p><a href="{% url "post_detail" %}" class="btn btn-link text-gray-700 pl-0">Read more<i class="fa fa-long-arrow-alt-right ml-2"></i></a>
              </div>
            </div>
          </div>
          <!-- /post end-->
          
          
          <!-- post-->
          <div class="col-lg-4 col-6">
            <div class="mb-30px"><a href="{% url "post_detail" %}"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-3/img/photo/marion-michele-330691-unsplash.jpg" alt="..." class="img-fluid"></a>
              <div class="mt-3"><small class="text-uppercase text-muted">Fashion and style </small>
                <h5 class="my-2"><a href="{% url "post_detail" %}" class="text-dark">Best books about Fashion          </a></h5>
                <p class="text-gray-500 text-sm my-3"><i class="far fa-clock mr-2"></i>January 16, 2016</p>
                <p class="my-2 text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.  Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p><a href="{% url "post_detail" %}" class="btn btn-link text-gray-700 pl-0">Read more<i class="fa fa-long-arrow-alt-right ml-2"></i></a>
              </div>
            </div>
          </div>
          <!-- /post end-->
          
          
          <!-- post-->
          <div class="col-lg-4 col-6">
            <div class="mb-30px"><a href="{% url "post_detail" %}"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-3/img/photo/marion-michele-330691-unsplash.jpg" alt="..." class="img-fluid"></a>
              <div class="mt-3"><small class="text-uppercase text-muted">Fashion and style </small>
                <h5 class="my-2"><a href="{% url "post_detail" %}" class="text-dark">Autumn fashion tips and tricks          </a></h5>
                <p class="text-gray-500 text-sm my-3"><i class="far fa-clock mr-2"></i>January 16, 2016</p>
                <p class="my-2 text-muted">Pellentesque habitant morbi tristique senectus. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.  Mauris placerat eleifend leo.</p><a href="{% url "post_detail" %}" class="btn btn-link text-gray-700 pl-0">Read more<i class="fa fa-long-arrow-alt-right ml-2"></i></a>
              </div>
            </div>
          </div>
          <!-- /post end-->
          
          
          <!-- post-->
          <div class="col-lg-4 col-6">
            <div class="mb-30px"><a href="{% url "post_detail" %}"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-3/img/photo/marion-michele-330691-unsplash.jpg" alt="..." class="img-fluid"></a>
              <div class="mt-3"><small class="text-uppercase text-muted">Fashion and style </small>
                <h5 class="my-2"><a href="{% url "post_detail" %}" class="text-dark">Newest photo apps          </a></h5>
                <p class="text-gray-500 text-sm my-3"><i class="far fa-clock mr-2"></i>January 16, 2016</p>
                <p class="my-2 text-muted">ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Aenean ultricies mi vitae est. </p><a href="{% url "post_detail" %}" class="btn btn-link text-gray-700 pl-0">Read more<i class="fa fa-long-arrow-alt-right ml-2"></i></a>
              </div>
            </div>
          </div>
          <!-- /post end-->
          
          
          <!-- post-->
          <div class="col-lg-4 col-6">
            <div class="mb-30px"><a href="{% url "post_detail" %}"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-3/img/photo/marion-michele-330691-unsplash.jpg" alt="..." class="img-fluid"></a>
              <div class="mt-3"><small class="text-uppercase text-muted">Fashion and style </small>
                <h5 class="my-2"><a href="{% url "post_detail" %}" class="text-dark">Best books about Photography          </a></h5>
                <p class="text-gray-500 text-sm my-3"><i class="far fa-clock mr-2"></i>January 16, 2016</p>
                <p class="my-2 text-muted">Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.  Mauris placerat eleifend leo.</p><a href="{% url "post_detail" %}" class="btn btn-link text-gray-700 pl-0">Read more<i class="fa fa-long-arrow-alt-right ml-2"></i></a>
              </div>
            </div>
          </div>
          <!-- /post end-->
          
          
        </div>
        <!-- Pagination -->
        <nav aria-label="Blog pagination">
          <ul class="pagination justify-content-between mb-5">
            <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-chevron-left mr-1"></i>Older posts</a></li>
            <li class="page-item disabled"><a href="#" tabindex="-1" class="page-link">Newer posts  <i class="fa fa-chevron-right ml-1">                            </i></a></li>
          </ul>
        </nav>
      </div>
    </section>
{% endblock content %}