{% extends 'bases/custom_base.html' %}
{% load static %}
{% block title %} Direct checkout{% endblock title %}
{% block content %}

    <!-- Checkout-->
    <section>
      <div class="container-fluid px-5">
        <div class="row jumbotron ">
          <div class="col-md-1"></div>
          <div class="col-lg-6">
            {% include 'checkout/checkout_snipets/order_review.html' %}
            <form action="" method="post">{% csrf_token %}
                {% include 'checkout/checkout_snipets/address.html' %}
                {% comment %} {% include 'checkout/checkout_snipets/delivery_method.html' %} {% endcomment %}
                {% include 'checkout/checkout_snipets/payment_method.html' %}
            </form>
          </div>
          
          <div class="col-lg-4">

            <!-- Square card -->
            <div class="demo-card-square mdl-card mdl-shadow--2dp">
              <div class="mdl-card__title mdl-card--expand" style="background:
                url('{% static "img/courier.png" %}') bottom right no-repeat;">
              </div>
              <div class="card-rail-header mt-3">Get delivery on us</div>
              <div class="card-rail-normal">Basic, no-rush delivery free</div>
              <div class="card-rail-sep my-3"></div>
              <div class="card-rail-header ">Check your shipping address</div>
              <div class="card-rail-normal ">Make sure that your order is going to<br> the right place</div>
              <div class="card-rail-sep my-3"></div>
              <div>
                <div class="card-rail-header ">Need help with your order?</div>
                <div class="card-rail-normal mb-3">Start a chat or give us a call</div>
              </div>
            </div>
            
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </section>
{% endblock content %}
{% block jquery %}
<script>
//scroll to top part of the section 
  //$('#review-your-order').on('click', function (e) {
    //$('html,body').animate({
     //   scrollTop: $('#order-review-section').offset().top -80
  //  }, 500); 
  //}); 

//$('#review-the-order').on('click', function (e) {
//  $('html,body').animate({
//      scrollTop: $('#order-review-section').offset().top -80
//  }, 500); 
//});

//$('#choose-payment-options').on('click', function (e) {
  //$('html,body').animate({
  //    scrollTop: $('#payment-method').offset().top -80
  //}, 500); 
//});

</script>

{% endblock jquery %}