{% extends 'custom_base.html' %}
{% block title %} Direct checkout{% endblock title %}
{% block content %}

    <!-- Checkout-->
    <section>
      <div class="container-fluid px-5">
        <div class="row jumbotron ">
          <div class="col-md-1"></div>
          <div class="col-lg-6">
            <form action="" method="post">{% csrf_token %}
                {% include 'checkout/checkout_snipets/address.html' %}
                {% comment %} {% include 'checkout/checkout_snipets/delivery_method.html' %} {% endcomment %}
                {% include 'checkout/checkout_snipets/order_review.html' %}
                {% include 'checkout/checkout_snipets/payment_method.html' %}
            </form>
          </div>
          
          <div class="col-lg-4">

            <div class="block mb-5 bg-white shadow">
              <div class="block-header">
                <h6 class="text-uppercase mb-0">Order Summary</h6>
              </div>
              <div class="block-body pt-1">
                <p class="text-sm">Shipping and additional costs are calculated based on values you have entered.</p>
                <ul class="order-summary mb-0 list-unstyled">
                  <li class="order-summary-item"><span>Order Subtotal </span><span>$390.00</span></li>
                  <li class="order-summary-item"><span>Shipping and handling</span><span>$10.00</span></li>
                  <li class="order-summary-item"><span>Tax</span><span>$0.00</span></li>
                  <li class="order-summary-item border-0"><span>Total</span><strong class="order-summary-total">$400.00</strong></li>
                </ul>
              </div>
            </div>
            {% comment %} delivery information section {% endcomment %}
            <div class="block mb-5 shadow">
              <div class="block-header">
                <h6 class="text-uppercase mb-0">Delivey Method</h6>
              </div>
              <div class="block-body bg-light pt-1 bg-white">
                <p class="text-md">You will get the product at your address.</p>
                {% comment %} <ul class="order-summary mb-0 list-unstyled">
                  <li class="order-summary-item"><span>Order Subtotal </span><span>$390.00</span></li>
                  <li class="order-summary-item"><span>Shipping and handling</span><span>$10.00</span></li>
                  <li class="order-summary-item"><span>Tax</span><span>$0.00</span></li>
                  <li class="order-summary-item border-0"><span>Total</span><strong class="order-summary-total">$400.00</strong></li>
                </ul> {% endcomment %}
              </div>
            </div>

          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </section>
{% endblock content %}
{% block jquery %}
<script>
//scroll to top part of the section 
$('#review-your-order').on('click', function (e) {
  $('html,body').animate({
      scrollTop: $('#order-review-section').offset().top -80
  }, 500); 
}); 

//$('#review-the-order').on('click', function (e) {
//  $('html,body').animate({
//      scrollTop: $('#order-review-section').offset().top -80
//  }, 500); 
//});

$('#choose-payment-options').on('click', function (e) {
  $('html,body').animate({
      scrollTop: $('#payment-method').offset().top -80
  }, 500); 
});

</script>

{% endblock jquery %}