{% extends 'bases/base.html' %}
{% load static %}
{% block content %}
    <!-- Hero Section-->
    <section class="hero">
      <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Shopping cart        </li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
          <h1 class="hero-heading">Shopping cart</h1>
          <div class="row">   
            <div class="col-xl-8 offset-xl-2">
              {% if empty %}
                <p class="lead text-muted">Your shopping cart is empty.</p>
              {% else %}
                <p class="lead text-muted">You have {{cart.cartitem_set.all.count }} items in your shopping cart</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Shopping Cart Section-->
    {% if not empty %}
    <section>
      <div class="container">
        <div class="row mb-5"> 
          <div class="col-lg-8">
            <div class="cart">
              <div class="cart-wrapper">
                <div class="cart-header text-center">
                  <div class="row">
                    <div class="col-5">Item</div>
                    <div class="col-2">Price</div>
                    <div class="col-2">Quantity</div>
                    <div class="col-2">Total</div>
                    <div class="col-1"></div>
                  </div>
                </div>
                <div class="cart-body">
                {% comment %} Showing all the cart items {% endcomment %}
                {% for item in cart.cartitem_set.all %}
                  <!-- Product-->
                  <div class="cart-item" id='item-{{ item.id }}'>
                    <div class="row d-flex align-items-center text-center">
                      <div class="col-5">
                        <div class="d-flex align-items-center">
                          <a href="{% url 'detail' item.product.slug %}">
                            <img src="{{item.product.get_image_url }}" alt="..." class="cart-item-img">
                          </a>
                          <div class="cart-title text-left">
                            <a href="{% url 'detail' item.product.slug %}" class="text-uppercase text-dark"><strong>{{ item.product.title }}</strong></a><br><span class="text-muted text-sm">Size: {{ item.size }}</span><br><span class="text-muted text-sm">Colour: {{ item.color }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-2">{{ item.product.price }}</div>
                      <div class="col-2">
                        <div class="d-flex align-items-center">
                          <div class="btn btn-items btn-items-decrease click-decrease">-</div>
                          
                            <input type='hidden' name='pk' value='{{item.id}}' id='pk'>
                            <input type="text" name="qty" value="{{ item.quantity }}" class="form-control text-center input-items" id='quantity'>
                         
                          
                          <div class="btn btn-items btn-items-increase click-increase">+</div>
                        </div>
                      </div>
                      <div class="col-2 text-center">$<span id='line_total'>{{ item.line_total }}</span></div>
                      <div class="col-1 text-center"><a href="{% url 'remove_from_cart' item.id %}" class="cart-remove"> <i class="fa fa-times"></i></a></div>
                    </div>
                  </div>
                  <!-- Product-->
                  {% endfor %}
                  <div class="cart-item">
                    <div class="row d-flex align-items-center text-center">
                      <div class="col-5">
                        <div class="d-flex align-items-center"><a href="detail.html"><img src="../../../d19m59y37dris4.cloudfront.net/sell/1-2-5/img/product/product-square-kyle-loftus-596319-unsplash.f62698ea.jpg" alt="..." class="cart-item-img"></a>
                          <div class="cart-title text-left"><a href="detail.html" class="text-uppercase text-dark"><strong>Transparent Blouse</strong></a><br><span class="text-muted text-sm">Size: Medium</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-2">$55.00</div>
                      <div class="col-2">
                        <div class="d-flex align-items-center">
                          <div class="btn btn-items btn-items-decrease">-</div>
                          <input type="text" value="3" class="form-control text-center input-items">
                          <div class="btn btn-items btn-items-increase">+</div>
                        </div>
                      </div>
                      <div class="col-2 text-center">$165.00</div>
                      <div class="col-1 text-center"><a href="#" class="cart-remove"> <i class="fa fa-times"></i></a></div>
                    </div>
                  </div>
                  <!-- Product-->
                  <div class="cart-item">
                    <div class="row d-flex align-items-center text-center">
                      <div class="col-5">
                        <div class="d-flex align-items-center"><a href="detail.html"><img src="../../../d19m59y37dris4.cloudfront.net/sell/1-2-5/img/product/product-square-serrah-galos-494312-unsplash.5c3f03cf.jpg" alt="..." class="cart-item-img"></a>
                          <div class="cart-title text-left"><a href="detail.html" class="text-uppercase text-dark"><strong>White Tee</strong></a><br><span class="text-muted text-sm">Size: Medium</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-2">$55.00</div>
                      <div class="col-2">
                        <div class="d-flex align-items-center">
                          <div class="btn btn-items btn-items-decrease">-</div>
                          <input type="text" value="3" class="form-control text-center input-items">
                          <div class="btn btn-items btn-items-increase">+</div>
                        </div>
                      </div>
                      <div class="col-2 text-center">$165.00</div>
                      <div class="col-1 text-center"><a href="#" class="cart-remove"> <i class="fa fa-times"></i></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="my-5 d-flex justify-content-between flex-column flex-lg-row"><a href="category.html" class="btn btn-link text-muted"><i class="fa fa-chevron-left"></i> Continue Shopping</a><a href="{% url 'checkout' %}" class="btn btn-dark">Proceed to checkout <i class="fa fa-chevron-right"></i>                                                     </a></div>
          </div>
          <div class="col-lg-4">
            <div class="block mb-5">
              <div class="block-header">
                <h6 class="text-uppercase mb-0">Order Summary</h6>
              </div>
              <div class="block-body bg-light pt-1">
                <p class="text-sm">Shipping and additional costs are calculated based on values you have entered.</p>
                <ul class="order-summary mb-0 list-unstyled">
                  <li class="order-summary-item"><span>Order Subtotal </span><span>$<span id='cart_total' >{{ cart.total|floatformat:"-1" }}</span></span></li>
                  <li class="order-summary-item"><span>Shipping and handling</span><span>$10.00</span></li>
                  <li class="order-summary-item"><span>Tax</span><span>$0.00</span></li>
                  <li class="order-summary-item border-0"><span>Total</span><strong class="order-summary-total">$400.00</strong></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock content %}
{% block jquery %}
<script>
// ajax request function
  function ajax_call(number){
    var pk = $('#pk').val();
    var quantity = $('#quantity').val();

    // Calculate wheater it should increase or decrease the quantity
    if (number){
       var qty = Number(quantity) + number
    } else {
     var qty = quantity
    }
    console.log(pk, qty);
   

    $.ajax({
      type: "GET",
      url : "{% url 'update_cart_item' %}",
      data: {'pk': pk, 'qty': qty},
      success: function(data){
        console.log(data)
        $('#cart_total').text(data.cart_total)
        $('#line_total').text(data.line_total)
        if (data.product == 'empty'){
          //var item = 'item-' + data.id
          $('#item-'+data.id).remove()
        }

      },
     
    });
  }

  $('#quantity').change(function(){
    ajax_call();
  });

  $('.click-increase').click(function(){
    ajax_call(1);
  });
  $('.click-decrease').click(function(){
    ajax_call(-1);
  });

 
</script>
{% endblock jquery %}

   