/* your styles go here */

/* svg icon google .. google sign button*/
.iconGoogle{
    stroke: none !important;
}
.btn-signin-google{
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #d6d9dc !important;
    background-color: #FFF;
    color: #535A60;
}
.btn-signin-google:hover{
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #d6d9dc !important;
    background-color: #f7f7f7;
    color: #474d52;
}

.btn-facebook{
    border-color: transparent;
    background-color: #385499;
    color: #FFF;
}
.btn-facebook:hover{
    background-color: #314a86;
    color: rgba(255,255,255,0.95);
}
.iconFacebook{
    stroke: none !important;
}

/* meterial design lite custom */
.mdl-textfield__label{  
    margin-bottom:0px;
  }
  .mdl-textfield{
    width: auto !important;
    width: 100% !important;
  }
