{% extends 'bases/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
    <!-- home full slider-->
      {% include 'sliders/home-full-slider.html' %}
    <!-- home full slider end-->

    
    <div class="container-fluid mt-4">

        <!-- featured product -->
        <div class="bg-gray-100" >
          <div class="container">
            <div class="row">

              <div class="col-md-6">
                <div class="p-5">
                  <strong class="text-uppercase text-muted d-inline-block mb-2 text-sm">Featured</strong>
                  <h2 class="mb-3">{{ feature_liquid.title }}</h2>
                  <p class="text-muted">{{ feature_liquid.description }}</p>
                  <a href="{{ feature_liquid.get_absolute_url }}" class="btn btn-outline-dark">Shop now<i class="fa fa-long-arrow-alt-right"></i></a>
                </div>
              </div>

              <div class="col-md-6">
                <div class="float-right d-image-destop">
                    <img src="{{ feature_liquid.get_image_url }}" class="img-fluid " alt="">
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- featured product end -->


        <!--fashion and feature product-->
        <div class="bg-gray-100 mt-3 mb-3">
          <div class="container">
            <div class="row">

              <div class="col-md-6">
                <div class="float-right d-image-destop">
                    <img src="{{ feature_liquid.get_image_url }}" class="img-fluid " alt="">
                </div>
              </div>

              <div class="col-md-6">
                <div class="p-5">
                  <strong class="text-uppercase text-muted d-inline-block mb-2 text-sm">Featured</strong>
                  <h2 class="mb-3">Fashion, purpose &amp; freedom</h2>
                  <p class="text-muted">As am hastily invited settled at limited civilly fortune me. Really spring in extent an by. Judge but built party world. Of so am he remember although required. Bachelor unpacked be advanced at. Confined in declared marianne is vicinity</p>
                  <a href="{% url "category" %}" class="btn btn-link text-dark p-0">Shop now<i class="fa fa-long-arrow-alt-right"></i></a>
                </div>
              </div>

              

            </div>
          </div>
        </div>
        <!--fashion and feature product-->
      
    </div>
    

{% endblock content %}
    